### Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Binaries
## Note: special handling here for Jujutsu for the moment! This ignores the
## binary file for syntaxes, but I forcibly override that for Git!
*.bin

# misc. undesired IDE files
.idea/cody_history.xml
*/.idea/cody_history.xml

# build output
sites/*/public
!sites/www/public/.gitkeep
!sites/music/public/.gitkeep
!sites/links/public/.gitkeep

# node nonsense
node_modules
