// The big container that holds all the primary content: header, main, etc.

@use '../foundations';
@use '../foundations/grid';

.container {
   background: var(--bg);
   padding-block: var(--grid-base);
   padding-inline: calc(var(--grid-base) * 1.333);

   @include foundations.shadow;
   @include foundations.round-corner;
}
