@use '../foundations/breakpoints';
@use '../foundations/grid';

.site-header {
   // I don't love having these here, but it beats repeating them elsewhere.
   @include grid.margin-bottom-grid;
   grid-column: 1 / -1;

   a,
   a:link,
   a:visited {
      color: var(--blue-n);
      text-decoration: none;
   }

   a:hover,
   a:active {
      color: var(--gold);
      text-decoration: underline;
   }

   h1 {
      font-family: var(--site-header);
      font-size: var(--fs4);
      font-style: italic;
      font-weight: 600;
      color: var(--blue-n);
      line-height: 1.333;
   }

   h2 {
      font-family: var(--site-subhead);
      font-size: var(--fs2);
      font-weight: 500;
   }

   .header-by {
      font-style: italic;
      font-weight: 300;
   }

   .dot {
      color: var(--blue-4);
   }
}
