/* Color Theme Swatches in Hex */
$Bright-Monument-Autumn-1-hex: #2F4457;
$Bright-Monument-Autumn-2-hex: #ADC8DD;
$Bright-Monument-Autumn-3-hex: #FEB447;
$Bright-Monument-Autumn-4-hex: #BA936A;
$Bright-Monument-Autumn-5-hex: #4A382C;

/* Color Theme Swatches in RGBA */
$Bright-Monument-Autumn-1-rgba: rgba(47,68,87, 1);
$Bright-Monument-Autumn-2-rgba: rgba(173,200,221, 1);
$Bright-Monument-Autumn-3-rgba: rgba(254,180,71, 1);
$Bright-Monument-Autumn-4-rgba: rgba(186,147,106, 1);
$Bright-Monument-Autumn-5-rgba: rgba(74,56,44, 1);

/* Color Theme Swatches in HSLA */
$Bright-Monument-Autumn-1-hsla: hsla(208, 29, 26, 1);
$Bright-Monument-Autumn-2-hsla: hsla(206, 41, 77, 1);
$Bright-Monument-Autumn-3-hsla: hsla(35, 98, 63, 1);
$Bright-Monument-Autumn-4-hsla: hsla(30, 36, 57, 1);
$Bright-Monument-Autumn-5-hsla: hsla(23, 25, 23, 1);

// Heyooooo OKLCH
$dark-blue: oklch(37.75% 0.042 246.48);
$light-blue: oklch(81.95% 0.042 241.48);
$gold: oklch(82.16% 0.148 73.12);
$tan: oklch(68.99% 0.073 67.54);
$brown: oklch(35.71% 0.033 55.12);
