@font-face {
   font-family: 'Berkeley Mono';
   src:
      local('Berkeley Mono'),
      url('https://cdn.chriskrycho.com/v6/fonts/BerkeleyMono-Regular.woff2')
         format('woff2');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Berkeley Mono';
   src:
      local('Berkeley Mono'),
      url('https://cdn.chriskrycho.com/v6/fonts/BerkeleyMono-Italic.woff2')
         format('woff2');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Berkeley Mono';
   src:
      local('Berkeley Mono'),
      url('https://cdn.chriskrycho.com/v6/fonts/BerkeleyMono-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Berkeley Mono';
   src:
      local('Berkeley Mono'),
      url('https://cdn.chriskrycho.com/v6/fonts/BerkeleyMono-BoldItalic.woff2')
         format('woff2');
   font-weight: 700;
   font-style: italic;
}
