.content {
   line-height: var(--text-lh);
   font-weight: var(--text-weight);
   orphans: 3;
   hyphens: none;
}

.content {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: var(--heading);
      font-weight: var(--heading-weight);
   }
}

.content h1 {
   font-size: var(--fs3);
   font-weight: 600;
}

.content h2 {
   font-size: var(--fs2);
   font-weight: 500;
   margin-top: 1em;
   margin-bottom: var(--fs-3);
}

.content h1 + h2 {
   margin-top: var(--fs-2);
}

.content h3 {
   font-size: var(--fs1);
   font-weight: 600;
   margin-top: 1em;
   margin-bottom: var(--fs-3);
}

.content h4 {
   font-size: var(--fs0);
   font-style: italic;
   font-weight: 600;
   margin-top: 1em;
   margin-bottom: var(--fs-3);
}

.content p {
   margin-block: 1em;
}

.content p:first-child,
.content :not(p) + p {
   margin-top: 0;
}

.content p:last-child {
   margin-bottom: 0;
}

.content .item-subtitle {
   font-family: var(--text-alt);
   font-size: var(--fs1);
   font-weight: 300;
   letter-spacing: -0.5px;
}

.content blockquote,
.content .note,
.content aside,
.content .qualifiers {
   font-family: var(--text-alt);
   line-height: var(--text-alt-lh);
   font-weight: var(--text-alt-weight);
}

.content .note,
.content aside,
.content .qualifiers {
   margin-block: var(--grid-base);
   /* margin: 1em -1em; */
   padding: 1em;
   background: var(--light-blue-0);
}

.content a {
   color: inherit;
   transition: all 0.2s ease-in-out;
   text-decoration: none;
   padding: 0.3em 0.12em 0.075em;
   margin-left: -0.06em;
   margin-right: -0.06em;
   border-radius: 2pt;
   line-height: 0;
}

.content a:hover {
   background: var(--blue);
   color: var(--gold);
}

.content :is(h1, h2, h3, h4, h5, h6) a[href] {
   text-decoration: none;
   color: inherit;
   text-decoration: none;

   &::after {
      padding-left: 0.2em;
      color: transparent;
   }

   &:hover {
      background: transparent;
   }

   &:hover::after {
      color: var(--gold-darker);
   }
}

.content hr {
   visibility: hidden;
   margin: 2em;
}

.content img {
   margin: var(--grid-base);
}

/*
  Fancy links!

  When I actually do this, do it by pre-processing the links! The CSS to do it
  may technically be *possible*, but… so many hoops to jump through. Whereas if
  I just preprocess the links, it is trivial. I can simply select on:

  - `.fnref`
  - `.xref`
  - `.xref .v3
  - `.xref .v4`
  - `.xref .v5`

  Then normal links can just be, well, normal links!
 */

.content a[href]::after {
   content: '∞';
   font-family: var(--text-alt);
   font-weight: 600;
   font-style: normal;
   vertical-align: baseline;
   line-height: 0;
   font-size: 0.9em;
   /* margin: 0 1pt; */
   padding: 0 1pt;
   color: var(--gold-darker);
}

.content a[href]:hover::after {
   color: var(--light-blue);
}

/* Previous version links */
.content a[href^='https://v3.chriskrycho.com']::after
{
   content: 'v3';
   font-size: 0.8em;
   vertical-align: super;
   font-family: var(--heading);
   font-style: italic;
   font-weight: 500;
}

.content a[href^='https://v4.chriskrycho.com']::after
{
   content: 'v4';
   font-size: 0.8em;
   vertical-align: super;
   font-family: var(--heading);
   font-style: italic;
   font-weight: 500;
}

.content a[href^='https://v5.chriskrycho.com']::after
{
   content: 'v5';
   font-size: 0.8em;
   vertical-align: super;
   font-family: var(--heading);
   font-style: italic;
   font-weight: 500;
}

/* on-site links */
.content a[href^='/']:not([id*='fnref'])::after {
   content: '✢';
}

/* on-page links */
.content a[href^='#']:not([id*='fnref'])::after {
   content: '\FEFF#';
}

.content a[href^='#'][id*='fnref'] {
   &::before {
      content: '[';
   }

   &::after {
      content: ']';
   }
}
