<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   </head>

   <body>
      <div class="container">
         <header class="site-header">
            <h1>
               <span class="header-me">Chris Krycho</span
               ><!--
               --><span class="header-sep">&ThinSpace;—&ThinSpace;</span
               ><!--
               --><span class="header-work">Composer</span>
            </h1>
         </header>
      </div>
   </body
</html>
