{%- from "head.jinja" import head -%}

<!doctype html>
<html lang="en">
   {{ head(content, data, config) }}

   <body>
      <div class="container">
         <header class="site-header">
            <h1>
               <span class="header-me">Chris Krycho</span
               ><!--
               --><span class="header-sep">&ThinSpace;—&ThinSpace;</span
               ><!--
               --><span class="header-work">Composer</span>
            </h1>
         </header>

         {% block main -%}
         {%- endblock main %}
      </div>
   </body
</html>
