{% extends 'base.jinja' %}

{# The long-term move here is: generate this from data, etc. #}
{% block main %}
<main class="splash">
   <section class="featured">
      <section class="featured-item content">
         <header>
            <h1><a href="/works/desert-2024/">The Desert</a></h1>
            <h2>Solo piano (2024)</h2>
         </header>
         <lite-youtube
            class="embed youtube-embed"
            videoid="CpzJO8BO64o"
            style="
               background-image: url('https://i.ytimg.com/vi/CpzJO8BO64o/hqdefault.jpg');
            "
         >
            <a
               href="https://youtube.com/watch?v=CpzJO8BO64o"
               class="lty-playbtn"
               title="Play Video"
            >
               <span class="lyt-visually-hidden">Play Video: The Desert</span>
            </a>
         </lite-youtube>
         <p><a href="/works/desert-2024/">More →</a></p>
      </section>

      <section class="featured-item content">
         <header>
            <h1>
               <a href="/works/fanfare-2023/"
                  >Fanfare for a New Era of American Spaceflight</a
               >
            </h1>
            <h2>Symphony orchestra (2022)</h2>
         </header>
         <lite-youtube
            class="embed youtube-embed"
            videoid="l_rRCCHczuU"
            style="
               background-image: url('https://i.ytimg.com/vi/l_rRCCHczuU/hqdefault.jpg');
            "
         >
            <a
               href="https://youtube.com/watch?v=l_rRCCHczuU"
               class="lty-playbtn"
               title="Play Video"
            >
               <span class="lyt-visually-hidden">Play Video: The Desert</span>
            </a>
         </lite-youtube>
         <p><a href="/works/fanfare-2023/">More →</a></p>
      </section>
   </section>

   <hr class="section-break" />

   <figure class="medium avatar">
      <img
         src="https://cdn.chriskrycho.com/images/avatars/2024%20600%C3%97600%20music.jpg"
         alt="portrait of Chris Krycho"
      />
   </figure>

   <article class="about content">
      {{content}}
   </article>

   <hr class="section-break" />

   <section class="sketch-to-sound content">
      <h1>Behind the Score</h1>
      <p>
         Exploring the process of going from an idea to a performance or
         recording.
      </p>
      <p>The latest in the series:</p>
      <lite-youtube
         class="embed youtube-embed"
         videoid="awvi-KfFCyA"
         style="
            background-image: url('https://i.ytimg.com/vi/awvi-KfFCyA/hqdefault.jpg');
         "
      >
         <a
            href="https://www.youtube.com/watch?v=hhDNbjz0etU"
            class="lty-playbtn"
            title="Play Video"
         >
            <span class="lyt-visually-hidden">Play Video: The Desert</span>
         </a>
      </lite-youtube>
      <p>
         See
         <a
            href="https://www.youtube.com/watch?v=hhDNbjz0etU&list=PLgEheX3Omcc8JdED-FxuvGMT2HhfcBl-x"
            >the playlist</a
         >
         for more!
      </p>
   </section>
</main>
{% endblock main %}
