/* ----- Berkeley Mono ----- */
@font-face {
   font-family: 'Berkeley Mono';
   font-weight: normal;
   font-style: normal;
   src: url('/fonts/BerkeleyMono/BerkeleyMono-Regular.woff2') format('woff2');
}

@font-face {
   font-family: 'Berkeley Mono';
   font-weight: normal;
   font-style: italic;
   src: url('/fonts/BerkeleyMono/BerkeleyMono-Italic.woff2') format('woff2');
}

@font-face {
   font-family: 'Berkeley Mono';
   font-weight: bold;
   font-style: normal;
   src: url('/fonts/BerkeleyMono/BerkeleyMono-Bold.woff2') format('woff2');
}

@font-face {
   font-family: 'Berkeley Mono';
   font-weight: bold;
   font-style: italic;
   src: url('/fonts/BerkeleyMono/BerkeleyMono-BoldItalic.woff2') format('woff2');
}

/* ----- Frame ----- */
@font-face {
   font-family: Frame;
   font-weight: 700;
   font-style: normal;
   src: url('/fonts/Frame/FrameText-Bold-Trial.otf') format('opentype');
}

@font-face {
   font-family: Frame;
   font-weight: 700;
   font-style: italic;
   src: url('/fonts/Frame/FrameText-BoldItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: Frame;
   font-weight: 400;
   font-style: italic;
   src: url('/fonts/Frame/FrameText-Italic-Trial.otf') format('opentype');
}

@font-face {
   font-family: Frame;
   font-weight: 500;
   font-style: normal;
   src: url('/fonts/Frame/FrameText-Medium-Trial.otf') format('opentype');
}

@font-face {
   font-family: Frame;
   font-weight: 500;
   font-style: italic;
   src: url('/fonts/Frame/FrameText-MediumItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: Frame;
   font-weight: 400;
   font-style: normal;
   src: url('/fonts/Frame/FrameText-Roman-Trial.otf') format('opentype');
}

@font-face {
   font-family: Frame;
   font-weight: 600;
   font-style: normal;
   src: url('/fonts/Frame/FrameText-Semibold-Trial.otf') format('opentype');
}

@font-face {
   font-family: Frame;
   font-weight: 600;
   font-style: italic;
   src: url('/fonts/Frame/FrameText-SemiboldItalic-Trial.otf') format('opentype');
}

/* ----- Frame Head ----- */
@font-face {
   font-family: 'Frame Head';
   font-weight: 400;
   font-style: normal;
   src: url('/fonts/FrameHead/FrameHead-Roman-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Frame Head';
   font-weight: 400;
   font-style: italic;
   src: url('/fonts/FrameHead/FrameHead-Italic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Frame Head';
   font-weight: 500;
   font-style: normal;
   src: url('/fonts/FrameHead/FrameHead-Medium-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Frame Head';
   font-weight: 500;
   font-style: italic;
   src: url('/fonts/FrameHead/FrameHead-MediumItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Frame Head';
   font-weight: 600;
   font-style: normal;
   src: url('/fonts/FrameHead/FrameHead-Semibold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Frame Head';
   font-weight: 600;
   font-style: italic;
   src: url('/fonts/FrameHead/FrameHead-SemiboldItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Frame Head';
   font-weight: 700;
   font-style: normal;
   src: url('/fonts/FrameHead/FrameHead-Bold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Frame Head';
   font-weight: 700;
   font-style: italic;
   src: url('/fonts/FrameHead/FrameHead-BoldItalic-Trial.otf') format('opentype');
}

/* ----- Sanomat ----- */
@font-face {
   font-family: 'Sanomat';
   font-weight: 900;
   font-style: normal;
   src: url('/fonts/Sanomat/Sanomat-Black-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 900;
   font-style: italic;
   src: url('/fonts/Sanomat/Sanomat-BlackItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 700;
   font-style: normal;
   src: url('/fonts/Sanomat/Sanomat-Bold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 700;
   font-style: italic;
   src: url('/fonts/Sanomat/Sanomat-BoldItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 800;
   font-style: normal;
   src: url('/fonts/Sanomat/Sanomat-Extrabold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 800;
   font-style: italic;
   src: url('/fonts/Sanomat/Sanomat-ExtraboldItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 300;
   font-style: normal;
   src: url('/fonts/Sanomat/Sanomat-Light-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 300;
   font-style: italic;
   src: url('/fonts/Sanomat/Sanomat-LightItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 500;
   font-style: normal;
   src: url('/fonts/Sanomat/Sanomat-Medium-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 500;
   font-style: italic;
   src: url('/fonts/Sanomat/Sanomat-MediumItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 400;
   font-style: normal;
   src: url('/fonts/Sanomat/Sanomat-Regular-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 400;
   font-style: italic;
   src: url('/fonts/Sanomat/Sanomat-RegularItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 600;
   font-style: normal;
   src: url('/fonts/Sanomat/Sanomat-Semibold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat';
   font-weight: 600;
   font-style: italic;
   src: url('/fonts/Sanomat/Sanomat-SemiboldItalic-Trial.otf') format('opentype');
}

/* ----- Sanomat Sans Text ----- */
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 700;
   font-style: normal;
   src: url('/fonts/SanomatSans/SanomatSansText-Bold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 700;
   font-style: italic;
   src: url('/fonts/SanomatSans/SanomatSansText-BoldItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 350;
   font-style: normal;
   src: url('/fonts/SanomatSans/SanomatSansText-Book-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 350;
   font-style: italic;
   src: url('/fonts/SanomatSans/SanomatSansText-BookItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 300;
   font-style: normal;
   src: url('/fonts/SanomatSans/SanomatSansText-Light-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 300;
   font-style: italic;
   src: url('/fonts/SanomatSans/SanomatSansText-LightItalic-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 500;
   font-style: normal;
   src: url('/fonts/SanomatSans/SanomatSansText-Medium-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 500;
   font-style: italic;
   src: url('/fonts/SanomatSans/SanomatSansText-MediumItalic-Trial.otf')
      format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 400;
   font-style: normal;
   src: url('/fonts/SanomatSans/SanomatSansText-Regular-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 400;
   font-style: italic;
   src: url('/fonts/SanomatSans/SanomatSansText-RegularItalic-Trial.otf')
      format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 600;
   font-style: normal;
   src: url('/fonts/SanomatSans/SanomatSansText-Semibold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 600;
   font-style: italic;
   src: url('/fonts/SanomatSans/SanomatSansText-SemiboldItalic-Trial.otf')
      format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 800;
   font-style: normal;
   src: url('/fonts/SanomatSans/SanomatSansText-XBold-Trial.otf') format('opentype');
}

@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 800;
   font-style: italic;
   src: url('/fonts/SanomatSans/SanomatSansText-XBoldItalic-Trial.otf') format('opentype');
}
