// This file has all the content I haven’t yet moved into an appropriate place
// in `foundations` or `layouts` or `components` (maybe, if that ever becomes a
// thing).

@use './foundations/breakpoints';

html {
   font-family: var(--text);
   font-size: calc(var(--fs0) * var(--fs-scheme-adjust));
   font-size-adjust: from-font;
   line-height: 1;
   background-color: var(--bg-secondary);
   color: var(--fg);
   hanging-punctuation: first allow-end last;
}

.shadow {
   --shadow-color: var(--blue);
   box-shadow: 0 0 calc(var(--grid-base) / 2) var(--shadow-color);
}

.bg {
   background: var(--bg);
}

.margin-grid {
   margin: var(--grid-base);
}

.margin-bottom-grid {
   margin-bottom: var(--grid-base);
}

.padding-grid {
   padding: var(--grid-base);
}

.section-break {
   display: grid;
   grid-template-columns: subgrid;
   grid-column-end: span 12;
   width: 100%;
   border: 0;
   height: 0;
   background: none;
   grid-column-start: 1;
   grid-column-end: span 12;
   margin-block: var(--grid-base);
}

.section-break::after {
   content: '';
   height: 1px;
   background: var(--brown);
   grid-column-start: 5;
   grid-column-end: span 4;
   display: block;
}

label,
input,
button {
   font-family: var(--text-alt);
   font-weight: var(--text-alt-weight);
}

nav {
   font-family: var(--text-alt);
   font-weight: var(--text-alt-weight);
   grid-column: span 4;

   ul {
      list-style: none;
      margin-inline: 0;
   }
}

nav.main-nav {
   ul li a::before {
      margin-right: 0.1em;
      display: inline-block;
   }
}

.page-nav ul {
   position: sticky;
   top: var(--grid-base);
}

img {
   max-width: 100%;
}

abbr {
   font-variant: all-small-caps;
   letter-spacing: var(--smcp-spacing);
}

code {
   font-family: var(--mono);
}

p code {
   line-height: 1;
   background: var(--code-bg);
   padding: 0.05em 0.2em;
   border-radius: 0.2em;
}

pre:has(> code) {
   background: var(--code-block-bg);
   padding: 0.4em;
   overflow-x: auto;
}

pre code {
   display: block;
   hanging-punctuation: none;
   line-height: 1.2;
   font-size: var(--fs-1);
}

.smcp {
   font-variant: small-caps;
   letter-spacing: var(--smcp-spacing);
}

sup {
   line-height: 0;
   font-size: 0.8em;
}

figure img {
   box-shadow: 0 0 calc(var(--grid-base) / 4) -2pt var(--shadow-color);
   border-radius: 2pt;
}

.round-corner {
   border-radius: 2pt;
}

/* https://css-tricks.com/a-grid-of-logos-in-squares/ */
.gallery {
}

.gallery figure {
   grid-column-end: span 2;
   display: grid;
   place-items: center;
   position: relative;
}

.gallery figure::before {
   content: '';
   padding-bottom: 100%;
   display: block;
}

.gallery figure img {
   height: 100%;
   width: 100%;
   display: block;
   object-fit: cover;
   object-position: center;
   position: absolute;
   max-width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.gallery figure::before .gallery figure img {
   grid-area: 1 / 1 / 2 / 2;
}

@media screen and (prefers-color-scheme: dark) {
   :root {
      --text-lh: 1.55;
      --text-alt-lh: 1.4;
   }
}

@media (min-width: breakpoints.$large) {
   .padding-grid {
      padding-inline: calc(var(--grid-base) * 1.5);
      padding-block: calc(var(--grid-base));
   }
}
