{% macro head(content, data, config) %}
<head>
   {% set image = resolved_image(data.image, config.image) %}

   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>{{ resolved_title(data.title, config.title) }}</title>

   <link rel="stylesheet" href="/style.css" media="screen" />
   <link rel="stylesheet" href="/vendor/lite-yt-embed.css" media="screen" />

   {# TODO: extract this -#}
   <meta property="og:type" content="website" />
   {# TODO: build per-page URL; use config for site URL -#}
   <meta property="og:url" content="https://music.chriskrycho.com/" />
   <meta property="og:image" content="{{ image }}" />
   {# TODO: use config for site URL -#}
   <meta name="article:author" content="https://music.chriskrycho.com/" />
   <meta
      name="twitter:description"
      content="Contemporary classical works for orchestras and chamber ensembles, congregational church songs, and the occasional bit of electronica."
   />
   <meta name="twitter:card" content="summary_large_image" />
   <meta name="twitter:site" content="@chriskrycho" />
   <meta name="twitter:creator" content="@chriskrycho" />
   {# TODO: use config for site URL -#}
   <meta name="article:author" content="https://music.chriskrycho.com/" />
   <meta name="twitter:image" content="{{ image }}" />

   <meta name="fediverse:creator" content="@chriskrycho@mastodon.social" />
   <meta name="fediverse:creator" content="@chriskrycho@threads.net" />

   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1" />
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1" />
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1" />
   <link rel="manifest" href="/site.webmanifest" />
   <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#005fb2" />
   <meta name="msapplication-TileColor" content="#afc7de" />
   <meta name="theme-color" content="#314557" />

   <script defer src="/vendor/lite-yt-embed.js"></script>
</head>
{% endmacro %}
