/* ----- Berkeley Mono ----- */
@font-face {
   font-family: 'Berkeley Mono';
   font-weight: normal;
   font-style: normal;
   src: url('./fonts/berkeley-mono/BerkeleyMono-Regular.woff2') format('woff2');
}
@font-face {
   font-family: 'Berkeley Mono';
   font-weight: normal;
   font-style: italic;
   src: url('./fonts/berkeley-mono/BerkeleyMono-Italic.woff2') format('woff2');
}
@font-face {
   font-family: 'Berkeley Mono';
   font-weight: bold;
   font-style: normal;
   src: url('./fonts/berkeley-mono/BerkeleyMono-Bold.woff2') format('woff2');
}
@font-face {
   font-family: 'Berkeley Mono';
   font-weight: bold;
   font-style: italic;
   src: url('./fonts/berkeley-mono/BerkeleyMono-BoldItalic.woff2') format('woff2');
}

/* ----- Frame ----- */
@font-face {
   font-family: Frame;
   font-weight: 700;
   font-style: normal;
   src: url('./Frame/FrameText-Bold-Trial.otf') format('opentype');
}
@font-face {
   font-family: Frame;
   font-weight: 700;
   font-style: italic;
   src: url('./Frame/FrameText-BoldItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: Frame;
   font-weight: 400;
   font-style: italic;
   src: url('./Frame/FrameText-Italic-Trial.otf') format('opentype');
}
@font-face {
   font-family: Frame;
   font-weight: 500;
   font-style: normal;
   src: url('./Frame/FrameText-Medium-Trial.otf') format('opentype');
}
@font-face {
   font-family: Frame;
   font-weight: 500;
   font-style: italic;
   src: url('./Frame/FrameText-MediumItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: Frame;
   font-weight: 400;
   font-style: normal;
   src: url('./Frame/FrameText-Roman-Trial.otf') format('opentype');
}
@font-face {
   font-family: Frame;
   font-weight: 600;
   font-style: normal;
   src: url('./Frame/FrameText-Semibold-Trial.otf') format('opentype');
}
@font-face {
   font-family: Frame;
   font-weight: 600;
   font-style: italic;
   src: url('./Frame/FrameText-SemiboldItalic-Trial.otf') format('opentype');
}

/* ----- Sanomat ----- */
@font-face {
   font-family: 'Sanomat';
   font-weight: 900;
   font-style: normal;
   src: url('./Sanomat/Sanomat-Black-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 900;
   font-style: italic;
   src: url('./Sanomat/Sanomat-BlackItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 700;
   font-style: normal;
   src: url('./Sanomat/Sanomat-Bold-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 700;
   font-style: italic;
   src: url('./Sanomat/Sanomat-BoldItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 800;
   font-style: normal;
   src: url('./Sanomat/Sanomat-Extrabold-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 800;
   font-style: italic;
   src: url('./Sanomat/Sanomat-ExtraboldItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 300;
   font-style: normal;
   src: url('./Sanomat/Sanomat-Light-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 300;
   font-style: italic;
   src: url('./Sanomat/Sanomat-LightItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 500;
   font-style: normal;
   src: url('./Sanomat/Sanomat-Medium-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 500;
   font-style: italic;
   src: url('./Sanomat/Sanomat-MediumItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 400;
   font-style: normal;
   src: url('./Sanomat/Sanomat-Regular-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 400;
   font-style: italic;
   src: url('./Sanomat/Sanomat-RegularItalic-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 600;
   font-style: normal;
   src: url('./Sanomat/Sanomat-Semibold-Trial.otf') format('opentype');
}
@font-face {
   font-family: 'Sanomat';
   font-weight: 600;
   font-style: italic;
   src: url('./Sanomat/Sanomat-SemiboldItalic-Trial.otf') format('opentype');
}

/* ----- Sanomat Sans Text ----- */
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 700;
   font-style: normal;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-Bold-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 700;
   font-style: italic;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-BoldItalic-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 350;
   font-style: normal;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-Book-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 350;
   font-style: italic;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-BookItalic-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 300;
   font-style: normal;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-Light-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 300;
   font-style: italic;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-LightItalic-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 500;
   font-style: normal;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-Medium-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 500;
   font-style: italic;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-MediumItalic-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 400;
   font-style: normal;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-Regular-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 400;
   font-style: italic;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-RegularItalic-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 600;
   font-style: normal;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-Semibold-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 600;
   font-style: italic;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-SemiboldItalic-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 800;
   font-style: normal;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-XBold-Trial.otf')
      format('opentype');
}
@font-face {
   font-family: 'Sanomat Sans Text';
   font-weight: 800;
   font-style: italic;
   src: url('./Sanomat_Sans_Text_Family/SanomatSansText-XBoldItalic-Trial.otf')
      format('opentype');
}
