@use '../foundations/grid.scss';
@use '../foundations/type.scss';

main {
   @include grid.subgrid();
   grid-column: 1 / -1;
}

.container {
   margin: var(--grid-base);

   @include grid.grid(4);
}

.work {
   font-family: var(--sanomat-stack);
}

.work-info {
   font-family: var(--sanomat-stack);
   font-weight: 400;
}
